* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.search {
  background-color: rgb(47, 57, 71);
  height: 280px;

  .search-box {
    color: #fff;
    text-align: center;
    padding-top: 20px;

    .title {
      font-size: 35px;
    }

    .text {
      padding-top: 10px;
      color: #96a0ae;
    }

    .result {
      padding: 15px;
    }

    .input {
      margin-top: 25px;
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        font-size: 20px;
        outline: none;
        border: 1px solid rgb(47, 57, 71);
        padding: 10px;

        &::placeholder {
          color: #96a0ae;
        }
      }

      button {
        background-color: #489bf5;
        color: #fff;
        outline: none;
        font-size: 20px;
        border: 1px solid rgb(47, 57, 71);
        padding: 10px;
      }

      button:hover {
        cursor: pointer;
        background-color: #489cf5d0;
      }
    }

    img {
      width: 50px;
    }
  }
}

.status {
  padding-top: 50px;
  font-size: 30px;
  text-align: center;
}

.results {
  padding-top: 5px;
  margin: 0 auto;
  width: 50%;
  @include tablet {
    width: 90%;
  }
  @include mobile {
    width: 90%;
  }

  .results-box {
    margin-top: 10px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(47, 57, 71, 0.85);

    .title {
      margin: 0;
      font-size: 18px;
      font-weight: 600;
      color: #333;
      @include tablet {
        font-size: 16px;
      }
      @include mobile {
        font-size: 16px;
      }
    }

    .content {
      padding-top: 10px;
      margin: 0;
      font-size: 16px;
      color: rgb(5, 5, 5);
      @include tablet {
        font-size: 12px;
      }
      @include mobile {
        font-size: 12px;
      }
    }
  }
}
